USE [master]
GO
/****** Object:  Database [REFERA]    Script Date: 20/11/2023 08:21:42 ******/
CREATE DATABASE [REFERA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'REFERA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\REFERA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'REFERA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\REFERA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [REFERA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [REFERA]
GO
/****** Object:  Table [dbo].[categorias]    Script Date: 20/11/2023 08:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categorias](
	[CategoriaID] [nvarchar](50) NULL,
	[Categoria] [nvarchar](50) NULL,
	[Departamento] [nvarchar](50) NULL,
	[Descricao] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clientes]    Script Date: 20/11/2023 08:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientes](
	[ClienteID] [nvarchar](50) NULL,
	[Cliente] [nvarchar](50) NULL,
	[NomeContato] [nvarchar](50) NULL,
	[Endereco] [nvarchar](50) NULL,
	[Cidade] [nvarchar](50) NULL,
	[Pais] [nvarchar](50) NULL,
	[PaisCodigo] [nvarchar](50) NULL,
	[Regiao] [nvarchar](50) NULL,
	[CEP] [nvarchar](50) NULL,
	[Latitude] [float] NULL,
	[Longitude] [float] NULL,
	[Fax] [nvarchar](50) NULL,
	[Telefone] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fatoCabecalho]    Script Date: 20/11/2023 08:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fatoCabecalho](
	[Data] [datetime2](7) NULL,
	[ClienteID] [nvarchar](50) NULL,
	[FuncionarioID] [int] NULL,
	[ValorFrete] [float] NULL,
	[CupomID] [int] NULL,
	[EmpresaFrete] [nvarchar](50) NULL,
	[DataEntrega] [datetime2](7) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FatoDetalhes_DadosModelagem]    Script Date: 20/11/2023 08:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FatoDetalhes_DadosModelagem](
	[CupomID] [int] NULL,
	[ProdutoID] [nvarchar](50) NULL,
	[Quantidade] [nvarchar](50) NULL,
	[Valor] [float] NULL,
	[Desconto] [nvarchar](50) NULL,
	[Custo] [float] NULL,
	[ValorLiquido] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[funcionarios]    Script Date: 20/11/2023 08:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[funcionarios](
	[FuncionarioID] [int] NULL,
	[Extensao] [nvarchar](50) NULL,
	[NomeFuncionario] [nvarchar](50) NULL,
	[Genero] [nvarchar](50) NULL,
	[DataAdmissao] [datetime2](7) NULL,
	[Escritorio] [nvarchar](50) NULL,
	[Supervisor] [nvarchar](50) NULL,
	[Cargo] [nvarchar](50) NULL,
	[SalarioAnual] [int] NULL,
	[MetaVendas] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[produtos]    Script Date: 20/11/2023 08:21:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[produtos](
	[ProdutoID] [nvarchar](50) NULL,
	[CategoriaID] [nvarchar](50) NULL,
	[Produto] [nvarchar](50) NULL,
	[FornecedorID] [nvarchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[categorias] ([CategoriaID], [Categoria], [Departamento], [Descricao]) VALUES (N'1', N'Mens Clothes', N'Clothing', N'Fashion for Men')
INSERT [dbo].[categorias] ([CategoriaID], [Categoria], [Departamento], [Descricao]) VALUES (N'2', N'Womens wear', N'Clothing', N'Fashion for Women')
INSERT [dbo].[categorias] ([CategoriaID], [Categoria], [Departamento], [Descricao]) VALUES (N'3', N'Sportwear', N'Clothing', N'Clothing for Active Adults')
GO
INSERT [dbo].[clientes] ([ClienteID], [Cliente], [NomeContato], [Endereco], [Cidade], [Pais], [PaisCodigo], [Regiao], [CEP], [Latitude], [Longitude], [Fax], [Telefone]) VALUES (N'1', N'Eintrach GS', N'Albert von Einstein', N'Obere Str. 57', N'Berlin', N'Germany', N'DE', N'Europe', N'12209', 52.401482, 13.099724, N'030-0076545', N'030-0074321')
INSERT [dbo].[clientes] ([ClienteID], [Cliente], [NomeContato], [Endereco], [Cidade], [Pais], [PaisCodigo], [Regiao], [CEP], [Latitude], [Longitude], [Fax], [Telefone]) VALUES (N'2', N'La Tienda de la Esquina', N'Paco el Maco', N'Avda. de la Constitución 2222', N'Mexico City', N'Mexico', N'MX', N'North America', N'5021', 19.631915, -99.133418, N'(5) 555-3745', N'(5) 555-4729')
INSERT [dbo].[clientes] ([ClienteID], [Cliente], [NomeContato], [Endereco], [Cidade], [Pais], [PaisCodigo], [Regiao], [CEP], [Latitude], [Longitude], [Fax], [Telefone]) VALUES (N'3', N'La Ropa Vieja', N'Sancho Panza', N'C/ Ritual de lo Habitual  2312', N'Mexico City', N'Mexico', N'MX', N'North America', N'5023', 19.545652, -99.138955, N'NULL', N'(5) 555-3932')
GO
INSERT [dbo].[fatoCabecalho] ([Data], [ClienteID], [FuncionarioID], [ValorFrete], [CupomID], [EmpresaFrete], [DataEntrega]) VALUES (CAST(N'2018-03-22T00:00:00.0000000' AS DateTime2), N'78', 11, 12.45, 11083, N'Freight Express', CAST(N'2018-04-05T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[fatoCabecalho] ([Data], [ClienteID], [FuncionarioID], [ValorFrete], [CupomID], [EmpresaFrete], [DataEntrega]) VALUES (CAST(N'2016-11-21T00:00:00.0000000' AS DateTime2), N'62', 3, 20.01, 11082, N'One Liners', CAST(N'2016-11-24T00:00:00.0000000' AS DateTime2))
INSERT [dbo].[fatoCabecalho] ([Data], [ClienteID], [FuncionarioID], [ValorFrete], [CupomID], [EmpresaFrete], [DataEntrega]) VALUES (CAST(N'2017-09-16T00:00:00.0000000' AS DateTime2), N'64', 3, 20.36, 11081, N'One Liners', CAST(N'2017-10-03T00:00:00.0000000' AS DateTime2))
GO
INSERT [dbo].[FatoDetalhes_DadosModelagem] ([CupomID], [ProdutoID], [Quantidade], [Valor], [Desconto], [Custo], [ValorLiquido]) VALUES (10308, N'69', N'1', 2.12, N'0', 1.8317, 0.2883)
INSERT [dbo].[FatoDetalhes_DadosModelagem] ([CupomID], [ProdutoID], [Quantidade], [Valor], [Desconto], [Custo], [ValorLiquido]) VALUES (10558, N'73', N'3', 2.97, N'0', 2.4057, 0.5643)
INSERT [dbo].[FatoDetalhes_DadosModelagem] ([CupomID], [ProdutoID], [Quantidade], [Valor], [Desconto], [Custo], [ValorLiquido]) VALUES (10259, N'37', N'1', 4.37, N'0', 3.7757, 0.5943)
GO
INSERT [dbo].[funcionarios] ([FuncionarioID], [Extensao], [NomeFuncionario], [Genero], [DataAdmissao], [Escritorio], [Supervisor], [Cargo], [SalarioAnual], [MetaVendas]) VALUES (11, N'501', N'Rock Rollman', N'M', CAST(N'2012-10-01T00:00:00.0000000' AS DateTime2), N'5', N'Fletcher G. Mason', N'Sales Representative', 135000, 300000)
INSERT [dbo].[funcionarios] ([FuncionarioID], [Extensao], [NomeFuncionario], [Genero], [DataAdmissao], [Escritorio], [Supervisor], [Cargo], [SalarioAnual], [MetaVendas]) VALUES (2, N'101', N'Eli Preston', N'M', CAST(N'2011-09-15T00:00:00.0000000' AS DateTime2), N'1', N'Fletcher G. Mason', N'Sales Representative', 97000, 90000)
INSERT [dbo].[funcionarios] ([FuncionarioID], [Extensao], [NomeFuncionario], [Genero], [DataAdmissao], [Escritorio], [Supervisor], [Cargo], [SalarioAnual], [MetaVendas]) VALUES (3, N'102', N'Rob Carsson', N'M', CAST(N'2012-10-01T00:00:00.0000000' AS DateTime2), N'1', N'Fletcher G. Mason', N'Sales Representative', 193000, 360000)
GO
INSERT [dbo].[produtos] ([ProdutoID], [CategoriaID], [Produto], [FornecedorID]) VALUES (N'1', N'1', N'Lenin Jeansshorts', N'1')
INSERT [dbo].[produtos] ([ProdutoID], [CategoriaID], [Produto], [FornecedorID]) VALUES (N'2', N'1', N'Mr X Trousers', N'1')
INSERT [dbo].[produtos] ([ProdutoID], [CategoriaID], [Produto], [FornecedorID]) VALUES (N'3', N'2', N'Chantell Shirt', N'1')
GO
USE [master]
GO
